body {
    margin: 0;
    background-color: #808080;
    overflow: hidden;
    display: flex;
    justify-content: start;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

#canvasBody {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

#info {
    width: 30%;
    padding: 10px;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
    width: 200px;
}

button:hover {
    background: blue;
}

#carCanvas {
    background: lightgray;
}

#networkCanvas {
    background: black;
}